<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="Ivan.Services" type="Ivan.Services.ServicesSectionGroup, Ivan.Core">
      <section name="local" type="Ivan.Services.LocalServicesSection, Ivan.Core" />
    </sectionGroup>
  </configSections>


  <Ivan.Services>
    <local>

      <add type="Ivan.Models.IPatrimonio, Ivan.SQL"
           service="Ivan.Service.PatrimonioService, Ivan.SQL" />

        <add type="Ivan.Models.IMarca, Ivan.SQL"
             service="Ivan.Service.MarcaService, Ivan.SQL" />

        <add type="Ivan.Models.ITombo, Ivan.SQL"
             service="Ivan.Service.TomboService, Ivan.SQL" />

    </local>
  </Ivan.Services>


</configuration>
